.page-product {
  background-color: white;
  // position: relative;
  .header {
    background-color: white;
    padding: 40px 20px;
    margin-bottom: 20px;
    .slogan {
      font-size: 26px;
      // font-weight: 500;
      margin-bottom: 20px;
      color: black;
      text-align: center;
      font-weight: 800;
      // font-size: 72px;
    }
    .input-box {
      max-width: 700px;
      margin: 0 auto;
    }
  }
  .tabs {
    max-width: 1200px;
    padding: 20px 30px;
    margin: 0 auto 20px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    .tab {
      padding: 10px 20px;
      color: black;
      font-size: 16px;
      margin: 10px;
      border-radius: 30px;
      background-color: white;
      cursor: pointer;
      background-color: $secondary-100;
      color: $secondary-600;
      // padding: 4px 6px;
      border-radius: 4px;
      // width: fit-content;
      &:hover {
        background-color: $secondary-400;
        color: $secondary-900;
      }
      // cursor: not-allowed;
      // pointer-events: none;
      // &--active {
      //   background-color: white;
      //   color: red;
      //   cursor: pointer;
      //   pointer-events: auto;
      // }
      &__active {
        background-color: $primary-100;
        color: $primary-500;
      }
    }
  }
  .panel {
    max-width: 1200px;
    padding: 0 20px 25px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    column-gap: 5%;
    row-gap: 10px;
    // column-gap: 8px;
    .sub_title {
      font-size: 24px;
      padding-left: 26px;
      font-weight: bold;
      position: relative;
      margin-bottom: 20px;

      &::before {
        width: 6px;
        height: 28px;
        content: '';
        background-color: white;
        position: absolute;
        left: 0;
        top: 0.75em;
        transform: translateY(-50%);
      }
      .icon {
        margin-left: 5px;
      }
    }
    .isHidden {
      display: none;
    }

  }
  .no-result {
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
  }
}

.lang__panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: space-between;
  height: 40px;
  padding: 10px;
  column-gap: 10px;
  .lang {
    cursor: pointer;
    &:not(:last-child)::after {
      content: "|";
      padding-left: 10px;
      vertical-align: text-bottom;
    }
  }
}

@media (min-width: 768px) {
}
@media (min-width: 1201px) {
}
